.body-login {
    position: absolute;
    left: 0; 
    right: 0; 
    margin: 0 5rem;
    
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    position: relative;
    width: 85rem;
    height: 50rem;
    background-color: #fff;
    box-shadow: 2.5rem 3rem 5.5rem #5557;
    border-radius: 1.3rem;
    overflow: hidden;
}


.form-container {
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0 4rem;
    transition: all .6s ease-in-out;
    padding: 0 3rem;

    span {
        font-size: 1.2rem;
    }


}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;

    a {
        color: #333;
        font-size: 1.5rem;
        text-decoration: none;
        margin: 1.5rem 0;
    }

    a.forgot {
        padding-bottom: 3rem;
        border-bottom: .2rem solid #EEE;
    }

    button {
        border-radius: 2rem;
        border: .1rem solid var(--grad-clr1);
        background: var(--grad-clr2);
        color: #FFF;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1.2rem 4.5rem;
        letter-spacing: .1rem;
        text-transform: uppercase;

        margin-top: 1.7rem;
        transition: .5s ease-in-out;

        &:hover {
            background: #FFF;
            color: var(--grad-clr2);
            cursor: pointer;
        }
    }
}



h2 {
    color: var(--grad-clr1);
}

.social-container {
    margin: 2rem 0;

    a {
        padding: .7rem;
        border: .1rem solid #DDD;
        border-radius: 50%;    
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 .5rem;
        height: 4rem;    
        width: 4rem;

        img {
            height: 100%;    
             
        }
    }
}

.infield {
    position: relative;
    margin: .8rem 0;
    width: 100%;

    input {
        width: 100%;
        padding: 1.2rem 1.5rem;
        background: #F3F3F3;
        border: none;
        outline: none;

        &:focus ~ label {
            width: 100%;
        }
    }

    label {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        width: 0%;
        height: .2rem;
        background: var(--linear-grad);
        transition: .3s;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 10;
}

.overlay {
    position: relative;
    background: var(--linear-grad);
    color: #FFF;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
    text-align: center;
    height: 100%;
    width: 34rem;
    transition: .6s ease-in-out;
}

.overlay-left {
    right: 60%;
    transform: translateX(-12%);
}

.overlay-right {
    right: 0;
    transform: translateX(0%);

    h2 {
        font-size: 2rem;
    }
}

.overlay-panel h2 {
    color: #FFF;
}

p {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: .5px;
    margin: 2.5rem 0 3.5rem;
}

button {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .1rem;
    letter-spacing: .1rem;
}

.right-panel-active .overlay-container {
    transform: translateX(-150%);   
}

.right-panel-active .overlay {
    transform: translateX(50%);   
}

.right-panel-active .overlay-left {
    transform: translateX(25%);   
}

.right-panel-active .overlay-right {
    transform: translateX(35%);   
}

.right-panel-active .sign-in-container {
    transform: translateX(20%);
    opacity: 0;
}

.right-panel-active .sign-up-container {
    transform: translateX(66.7%);
    opacity: 1;
    z-index: 5;
    animation: show .6s;
}

// .right-panel-active #overlayBtn {
//     top: 29.4rem;

// }

@keyframes show {
    0%, 50% {
        opacity: 0;
        z-index: 1;
    }
    50.1%, 100% {
        opacity: 1;
        z-index: 5;
    }
}


#overlayBtn {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 29.6rem;
    transform: translateX(-50%);
    width: 14.4rem;
    height: 4rem;
    border: .1rem solid #FFF;
    border-radius: 2rem;
}

// SIGN UP

.sign-up-container {
    opacity: 0;
    z-index: 1;
}

.sign-in-container {
    z-index: 2;
    
}

// ERROR
.success-register {
    text-align: center;
    margin: 0 auto;
    color: green;
    z-index: 10;

}
.error-register {
    text-align: center;
    margin: 0 auto;
    color: firebrick;
    z-index: 10;

}

.error-login {
    text-align: center;
    margin: 0 auto;
    color: firebrick;
    z-index: 10;

}