@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

:root {
  --linear-grad: linear-gradient(to right, #141E30, #243B55);
  --grad-clr1: #141E30;
  --grad-clr2: #243B55;
}

body {
  height: 100vh;
  background: #f6f5f7;
  display: grid;
  place-content: center;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  position: relative;
  width: 85rem;
  height: 50rem;
  background-color: #fff;
  box-shadow: 2.5rem 3rem 5.5rem rgba(85, 85, 85, 0.4666666667);
  border-radius: 1.3rem;
  overflow: hidden;
}

.form-container {
  position: absolute;
  width: 60%;
  height: 100%;
  padding: 0 4rem;
  transition: all 0.6s ease-in-out;
}
.form-container span {
  font-size: 1.2rem;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
}
form a {
  color: #333;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 1.5rem 0;
}
form a.forgot {
  padding-bottom: 3rem;
  border-bottom: 0.2rem solid #EEE;
}
form button {
  border-radius: 2rem;
  border: 0.1rem solid var(--grad-clr1);
  background: var(--grad-clr2);
  color: #FFF;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.2rem 4.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-top: 1.7rem;
  transition: 0.5s ease-in-out;
}
form button:hover {
  background: #FFF;
  color: var(--grad-clr2);
  cursor: pointer;
}

h2 {
  color: var(--grad-clr1);
}

.social-container {
  margin: 2rem 0;
}
.social-container a {
  padding: 0.7rem;
  border: 0.1rem solid #DDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  height: 4rem;
  width: 4rem;
}
.social-container a img {
  height: 100%;
}

.infield {
  position: relative;
  margin: 0.8rem 0;
  width: 100%;
}
.infield input {
  width: 100%;
  padding: 1.2rem 1.5rem;
  background: #F3F3F3;
  border: none;
  outline: none;
}
.infield input:focus ~ label {
  width: 100%;
}
.infield label {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 0%;
  height: 0.2rem;
  background: var(--linear-grad);
  transition: 0.3s;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 10;
}

.overlay {
  position: relative;
  background: var(--linear-grad);
  color: #FFF;
  left: -150%;
  height: 100%;
  width: 250%;
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 4rem;
  text-align: center;
  height: 100%;
  width: 34rem;
  transition: 0.6s ease-in-out;
}

.overlay-left {
  right: 60%;
  transform: translateX(-12%);
}

.overlay-right {
  right: 0;
  transform: translateX(0%);
}
.overlay-right h2 {
  font-size: 2rem;
}

.overlay-panel h2 {
  color: #FFF;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: 0.5px;
  margin: 2.5rem 0 3.5rem;
}

button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.1rem;
  letter-spacing: 0.1rem;
}

.right-panel-active .overlay-container {
  transform: translateX(-150%);
}

.right-panel-active .overlay {
  transform: translateX(50%);
}

.right-panel-active .overlay-left {
  transform: translateX(25%);
}

.right-panel-active .overlay-right {
  transform: translateX(35%);
}

.right-panel-active .sign-in-container {
  transform: translateX(20%);
  opacity: 0;
}

.right-panel-active .sign-up-container {
  transform: translateX(66.7%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 50% {
    opacity: 0;
    z-index: 1;
  }
  50.1%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
#overlayBtn {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 29.6rem;
  transform: translateX(-50%);
  width: 14.4rem;
  height: 4rem;
  border: 0.1rem solid #FFF;
  border-radius: 2rem;
}

.sign-up-container {
  opacity: 0;
  z-index: 1;
}

.sign-in-container {
  z-index: 2;
}

.success-register {
  text-align: center;
  margin: 0 auto;
  color: green;
}

.error-register {
  text-align: center;
  margin: 0 auto;
  color: firebrick;
}

.error-login {
  text-align: center;
  margin: 0 auto;
  color: firebrick;
}

:root {
  --clr-primary: rgb(16, 64, 128);
  --clr-text-dark: hsl(250, 15%, 8%);
  --clr-text-light: hsl(240, 4%, 57%);
  --clr-bg: hsl(225, 62%, 95%);
  --clr-neutral: hsl(222, 23%, 91%);
  --clr-white: hsl(0, 0%, 100%);
}

.index-body {
  display: flex;
  justify-content: center;
  align-items: start;
}
.index-body .index-button,
.index-body ul,
.index-body li {
  all: unset;
}
.index-body .index-button {
  background: var(--clr-primary);
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tab-container {
  width: 100%;
  max-width: 64.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  margin-top: 10px;
}

.tab-menu {
  display: flex;
  width: 100%;
}

.tab-menu > .tab {
  flex: 1;
  background-color: var(--clr-neutral);
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.tab-menu > .tab:not(:last-child) {
  border-right: 2px solid var(--clr-white);
}

.tab-menu > .tab.active {
  background-color: var(--clr-white);
}

.tab > a {
  width: 100%;
  height: 100%;
  padding: 28px;
  justify-content: center;
  align-items: center;
  color: var(--clr-text-dark);
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.tab-menu > .tab.active > a {
  color: var(--clr-primary);
}

.tab-panels {
  padding: 48px;
}

.panel > h3 {
  font-size: 28px;
  color: var(--clr-text-dark);
  margin-bottom: 20px;
}

.panel > p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 28px;
}

.panel > button {
  padding: 10px 28px;
  color: var(--clr-white);
  background-color: var(--clr-text-dark);
  border-radius: 6px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.panel > button:hover {
  opacity: 0.9;
}

.edit-body > .container button:hover {
  background: #065870;
  color: white;
}

.edit-nav {
  padding: 1rem;
  display: flex;
  background: #d8d8d8;
  position: relative;
  height: 5rem;
  justify-content: space-between;
}
.edit-nav h3 {
  background: #172335;
  color: white;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 1.7rem;
}
.edit-nav a {
  background: #243855;
  color: white;
  transition: 0.5s ease-in-out;
  position: absolute;
  left: 75rem;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  padding-top: 1.7rem;
}
.edit-nav a:hover {
  background: #1950a3;
  color: white;
  transition: 0.5s ease-in-out;
}

.input-group {
  font-size: 1.25rem;
  position: relative;
  --primary: #2196f3;
}
.input-group .input {
  all: unset;
  color: #462424;
  padding: 1rem;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-group .label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #a0a0a0;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-group:not(:first-child):not(:last-child) {
  margin: 1rem;
}

.input:focus {
  border: 1px solid var(--primary);
}
.input:is(:focus, :valid) ~ label {
  transform: translate(-10%, -85%) scale(0.7);
  background-color: #1a1a1a;
  padding-inline: 0.3rem;
  color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 2%;
  width: 100%;
  text-transform: uppercase;
}

.footer__socials {
  padding-top: 2rem;
  display: flex;
  margin: 0 auto;
  width: 13rem;
  justify-content: space-between;
}
.footer__socials a {
  padding: 0.7rem;
  border: 0.1rem solid #5c5c5c;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  height: 4rem;
  width: 4rem;
}
.footer__socials a img {
  height: 70%;
}/*# sourceMappingURL=style.css.map */